@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
    margin:0;
    background-color: #EEEFF1;
}

a {
    text-decoration: none;
    color: #000000;
    background-color: yellow;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

.logo {
    font-family: "Revalia";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */

    text-align: center;

    color: #34547A;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
}

li {
    margin-left: 20px;
    font-size: 16px;
    font-family: Roboto;
}

.blue {
    color: #34547A;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

article {
    display: flex;
}

.watch {
    background-color: #000000;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    padding-bottom: 90px;
}

.watchH1 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    margin: 0;
}

.line {
    display: block;
    width: 120px;
    height: 1px;
    background-color: white;
    margin: 30px auto 35px;
}

.product {
    display: flex;
    justify-content: space-evenly;
}

.watch1 {
    color: white;
    font-family: "Playfair Display";
    font-size: 16px;
}

.photo {
    background-color: #191B1C;;
    padding-top: 35px;
    padding-bottom: 35px;
}

.catalog {
    width: 50%;
    background-image: url('images/Rectangle.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 120px;
    height: 40px;
    margin: 0px auto 80px;
}

.buttonA {
    cfont-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    /* white */
    
    color: #FFFFFF;
}